* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #373737;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 375px;
    height: 755px;
    margin: 1% auto;
    background: #0F0F0F;
    color: white;
    font-size: 42px;
}

button
{
    display: flex;
    width: 263px;
    height: 64px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.leftSword
{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.rightSword
{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.Margin-nav
{
    width: 375px;
    height: 32px;
    flex-shrink: 0;
}

.Margin-footer
{
    width: 375px;
    height: 32px;
    flex-shrink: 0;
}

.line15
{
    width: 256px;
    height: 0px;
    background: #DA8B14;
}

.fill-Out-Form
{
    color: #EFB55E;
    text-align: center;
    /* Body */
    font-family: Roboto Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 131.25% */
    width: 277px;
}

.Ultimate-Pixel
{
    color: var(--white, #FFF);
    text-align: center;
    /* H1 */
    font-family: Germania One;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 93.333% */
}

.Championships
{
    color: var(--orange, #DA8B14);
    /* H1 */
    font-family: Germania One;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
}